


@theme {



  /* ---------- Custom vars */

  --ratio-img-mobile: 5 / 6;
  --ratio-img-laptop: 1840 / 940;


  --icon-check: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="m17,3.7c-.35,0-.68.16-.92.4-3.29,3.25-5.78,5.95-8.87,9.05l-3.4-2.83c-.56-.47-1.41-.41-1.89.15-.48.56-.41,1.39.15,1.87l4.36,3.64c.53.45,1.33.42,1.83-.07,3.61-3.57,6.18-6.42,9.73-9.93.53-.51.55-1.35.03-1.87-.27-.27-.64-.42-1.02-.4h0Z"/></svg>');



  /* ---------- TailWind vars */
  
  --breakpoint-*: initial;/* Suppression des breakpoints standards de TW */
  --breakpoint-laptop: 1024px;/* 1280px; */
  --breakpoint-desktop: 1440px;
  --breakpoint-wide: 1920px;

  --color-accent: var(--accent);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-secondary-dark: var(--secondary-dark);

  --color-black: var(--black);
  --color-white: var(--white);

  --color-gray-light: var(--gray-light);
  --color-gray-dark: var(--gray-dark);

  --font-texte: 'Texte', sans-serif;

}
