


@theme {

  --breakpoint-laptop: 1280px;
  --breakpoint-desktop: 1440px;
  --breakpoint-wide: 1920px;

  --color-accent: var(--accent);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-secondary-dark: var(--secondary-dark);

  --color-black: var(--black);
  --color-white: var(--white);

  --color-gray-light: var(--gray-light);
  --color-gray-dark: var(--gray-dark);

  --font-texte: 'Texte', sans-serif;

}
