/*

font-weight: 100; ----- Thin (Hairline)
font-weight: 200; ----- Extra Light (Ultra Light)
font-weight: 300; ----- Light
font-weight: 400; ----- Normal
font-weight: 500; ----- Medium
font-weight: 600; ----- Semi Bold
font-weight: 700; ----- Bold
font-weight: 800; ----- Extra Bold (Ultra Bold)
font-weight: 900; ----- Black (Heavy)
font-weight: 950; ----- Extra Black (Ultra Black)

*/
/* 
path Arnaud :   ../webfonts/
path J :        /src/webfonts/
 */
@font-face {
  font-family: 'Texte';
  src: url('../webfonts/poppins-webfont/Poppins-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Texte';
  src: url('../webfonts/poppins-webfont/Poppins-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Texte';
  src: url('../webfonts/poppins-webfont/Poppins-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Texte';
  src: url('../webfonts/poppins-webfont/Poppins-ExtraLightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Texte';
  src: url('../webfonts/poppins-webfont/Poppins-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Texte';
  src: url('../webfonts/poppins-webfont/Poppins-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Texte';
  src: url('../webfonts/poppins-webfont/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Texte';
  src: url('../webfonts/poppins-webfont/Poppins-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Texte';
  src: url('../webfonts/poppins-webfont/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Texte';
  src: url('../webfonts/poppins-webfont/Poppins-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Texte';
  src: url('../webfonts/poppins-webfont/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Texte';
  src: url('../webfonts/poppins-webfont/Poppins-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Texte';
  src: url('../webfonts/poppins-webfont/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Texte';
  src: url('../webfonts/poppins-webfont/Poppins-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Texte';
  src: url('../webfonts/poppins-webfont/Poppins-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Texte';
  src: url('../webfonts/poppins-webfont/Poppins-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Texte';
  src: url('../webfonts/poppins-webfont/Poppins-ExtraBold.woff2') format('woff2');
  font-weight: 950;
  font-style: normal;
}

@font-face {
  font-family: 'Texte';
  src: url('../webfonts/poppins-webfont/Poppins-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 950;
  font-style: italic;
}
